<!doctype html>
<html lang="en">
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="img/favicon.svg" sizes="any" type="image/svg+xml">

        <!-- Boostrap CSS -->
        <link rel="stylesheet" type="text/css" href="3rd/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="3rd/css/daterangepicker.css" />

        <!-- Fontawesome CSS -->
        <link rel="stylesheet" type="text/css" href="3rd/css/fontawesome.css"/>

        <!-- App CSS -->
        <link rel="stylesheet" type="text/css" href="css/app.css">

        <script type="text/javascript" src='3rd/js/sprintf.min.js'></script>

        <title>{{translate "Lightmeter ControlCenter"}}</title>

        <script>
          var rblModalWindowId = null

          insightsTitles = {
            "high_bounce_rate": "{{translate `High Bounce Rate` }}",
            "mail_inactivity": "{{translate `Mail Inactivity`}}",
            "welcome_content": "{{translate `Your first Insight`}}",
            "insights_introduction_content": "{{translate `Breaking new ground`}}",
            "local_rbl_check": "{{translate `IP on shared blocklist`}}",
            "message_rbl": i => sprintf("{{translate `IP blocked by %s`}}", i.content.host),
          }

          insightsDescriptions = {
            "high_bounce_rate": function(i) {
              var c = i.content
              return sprintf("{{ translate `<b>%i%%</b> bounce rate between %s and %s`}}", c.value * 100, formatInsightDescriptionDateTime(c.interval.from), formatInsightDescriptionDateTime(c.interval.to))
            },

            "mail_inactivity": function(i) {
              var c = i.content
              return sprintf("{{ translate `No emails were sent between %s and %s` }}", formatInsightDescriptionDateTime(c.interval.from), formatInsightDescriptionDateTime(c.interval.to))
            },

            "welcome_content": function(i) {
              var c = i.content
              return "{{ translate `Insights are time-based analyses relating to your mailserver` }}"
            },

            "insights_introduction_content": function(i) {
              var c = i.content
              return "{{ translate `Keep Control Center running to generate Insights; checks run every few seconds` }}"
            },

            "local_rbl_check": function(i) {
              var c = i.content
              var msgPart = sprintf("{{ translate `The IP address %s is listed by <strong>%d</strong> <abbr title='Real-time Blackhole List'>RBL</abbr>s` }}. ", c.address, c.rbls.length)
              var linkPart = "<button class='btn btn-sm' data-rbl-id='" + i.id.toString() +  "' data-toggle='modal' data-target='#rblListModal' onclick=\"_paq.push(['trackEvent', 'InsightDescription', 'openRblModal']);\">{{ translate `Details` }}</a>"
              return msgPart + linkPart
            },

            "message_rbl": function(i) {
              var c = i.content
              var msgPart = sprintf("{{ translate `The IP %s cannot deliver to %s (<strong>%s</strong>)` }}. ", c.address, c.recipient, c.host)
              var linkPart = "<button class='btn btn-sm' data-msg-rbl-id='" + i.id.toString() +  "' data-toggle='modal' data-target='#msg_rbl_list_modal' onclick=\"_paq.push(['trackEvent', 'InsightDescription', 'openHostBlockModal']);\">{{ translate `Details` }}</a>"
              return msgPart + linkPart
            }
          }

          function greetingText() {
            var dateObj = new Date()
            var weekday = dateObj.toLocaleString("default", { weekday: "long" })
            return sprintf("{{ translate `Happy %s,` }}", weekday)
          }

        </script>
    </head>

    <body onload="drawDashboard()" class="d-flex flex-column min-vh-100">

        <header>
            <div class="navbar">
                <div class="container d-flex justify-content-between">
                    <a class="logo navbar-brand d-flex align-items-center" href="/" title="Home">
                        <img src="img/logo-color-120.png" alt="Lightmeter logo" />
                    </a>
                    <span class="buttons">
                        <i class="fas fa-cog" onclick="window.location.href='/settingspage';" data-toggle="tooltip" data-placement="bottom" title="Settings" onclick="_paq.push(['trackEvent', 'Settings', 'clickHeaderButton']);"></i>
                        <span data-toggle="modal" data-target="#aboutModal">
                            <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="bottom" title="Information" onclick="_paq.push(['trackEvent', 'About', 'clickHeaderButton']);"></i>
                        </span>
                        <i class="fas fa-sign-out-alt" onclick="window.location.href='/logout';" data-toggle="tooltip" data-placement="bottom" title="Log out" onclick="_paq.push(['trackEvent', 'Logout', 'clickHeaderButton']);"></i>
                    </span>

                    <!-- About modal -->
                    <div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="aboutModalLabel">{{translate "About"}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {{translate "Lightmeter Control Center"}}
                                    <br/>
                                    <span id="release-info"></span>
                                    <br/>
                                    <br/>
                                    <ul>
                                        <li><a href="https://lightmeter.io/?pk_campaign=lmcc&pk_source=webui" target="_blank">{{translate "Website"}}</a></li>
                                        <li><a href="https://gitlab.com/lightmeter" target="_blank">GitLab</a></li>
                                        <li><a href="https://phplist.lightmeter.io/lists/?p=subscribe&id=1" target="_blank">{{translate "Newsletter"}}</a></li>
                                        <li><a href="https://twitter.com/lightmeterio" target="_blank">Twitter</a></li>
                                        <li><a href="https://mastodon.social/@lightmeter/" target="_blank">Mastodon</a></li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-cancel" data-dismiss="modal">{{translate "Close"}}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- RBL list modal -->
                    <div class="modal fade" id="rblListModal" tabindex="-1" role="dialog" aria-labelledby="rblListLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="rblListLabel">{{translate "RBLs for"}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                  <span id="rbl-list-content"></span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-cancel" data-dismiss="modal">{{translate "Close"}}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Message RBL list modal -->
                    <div class="modal fade" id="msg_rbl_list_modal" tabindex="-1" role="dialog" aria-labelledby="msg_rbl_list_label" aria-hidden="true">
                        <div class="modal-dialog modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="msg_rbl_list_label"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                  <span id="msg-rbl-list-content"></span>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-cancel" data-dismiss="modal">{{translate "Close"}}</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </header>

            <div class="container main-content">

                <div class="row">
                    <div class="col-md-12">
                        <h1 class="row-title">{{translate "Control Center"}}</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default greeting">

                            <div class="row">

                                <div class="col-md-3 align-center">
                                    <img class="hero" src="img/greeting-observatory.svg" alt="Observatory illustration" />
                                </div>

                                <div class="col-md-9 d-flex align-items-center">
                                    <div class="row">
                                        <div class="container">
                                            <h3></h3>
                                            <p>{{translate "and welcome back"}}</p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-header">
                                {{translate "Delivery attempts"}}
                            </div>
                            <div class="card-body">
                                    <div class="dashboard-gadget" id='deliveryStatus'></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">

                                <ul class="nav nav-tabs card-header-tabs" id="overview-graphs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#busiest-domains" role="tab" aria-controls="busiest-domains" aria-selected="true">{{translate "Busiest domains"}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#bounced-domains" role="tab" aria-controls="bounced-domains" aria-selected="false">{{translate "Bounced domains"}}</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#deferred-domains" role="tab" aria-controls="deferred-domains" aria-selected="false">{{translate "Deferred domains"}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">

                                <div id="basic-graphs-area" class="tab-content mt-3">
                                    <div class="tab-pane active" id="busiest-domains" role="tabpanel">
                                        <div class="dashboard-gadget" id='topBusiestDomains'></div>
                                    </div>

                                    <div class="tab-pane" id="bounced-domains" role="tabpanel" aria-labelledby="bounced-domains-tab">
                                        <div class="dashboard-gadget" id='topBouncedDomains'></div>
                                    </div>

                                    <div class="tab-pane" id="deferred-domains" role="tabpanel" aria-labelledby="deferred-domains-tab">
                                        <div class="dashboard-gadget" id='topDeferredDomains'></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row container d-flex time-interval card-section-heading">
                    <div class="col-lg-2 col-md-6 col-6 p-2">
                        <h2>{{translate "Insights"}}</h2>
                    </div>
                    <div class="col-lg-3 col-md-6 col-6 p-2">
                        <label for="time-interval-field" class="col-md-2 col-form-label sr-only">{{translate "Time interval:"}}</label>
                        <div id="time-interval-field" class="w-lg-75 w-md-100 w-sm-100" onclick="_paq.push(['trackEvent', 'TimeIntervalHomepage', 'click']);">
                            <span></span>&nbsp;&nbsp;<i class="fa fa-calendar"></i>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-12 ml-auto p-2">
                        <form id="insights-form">
                            <div class="form-group d-flex justify-content-end align-items-center">
                                <label for="filter" class="sr-only">{{translate "Filter"}}:</label>
                                <select onchange="fetchInsights()" id="insights-filter" class="form-control custom-select custom-select-sm" name="filter" form="insights-form" style="width: 33%">
                                    <option selected value="nofilter" onclick="_paq.push(['trackEvent', 'InsightsFilterCategoryHomepage', 'click', this.value]);">{{translate "All"}}</option>
                                    <option value="category-local" onclick="_paq.push(['trackEvent', 'InsightsFilterCategoryHomepage', 'click', this.value]);">{{translate "Local"}}</option>
                                    <option value="category-news" onclick="_paq.push(['trackEvent', 'InsightsFilterCategoryHomepage', 'click', this.value]);">{{translate "News"}}</option>
                                    <!--
                                    <option value="category-intel">{{translate "Intel"}}</option>
                                    <option value="category-comparative">{{translate "Comparative"}}</option>
                                    -->
                                </select>
                                <select onchange="fetchInsights()" id="insights-sort" class="form-control custom-select custom-select-sm" name="order" form="insights-form" style="width: 38%">
                                    <option selected value="creationDesc" onclick="_paq.push(['trackEvent', 'InsightsFilterOrderHomepage', 'click', this.value]);">{{translate "Newest"}}</option>
                                    <option value="creationAsc" onclick="_paq.push(['trackEvent', 'InsightsFilterOrderHomepage', 'click', this.value]);">{{translate "Oldest"}}</option>
                                </select>
                            </div>
                        </form>
                    </div>

                </div>

                <div class="row insights" id="insights">
                    <div class="col-md-6" id="insight-template">
                        <div class="card">
                            <div class="row">
                                <div class="col-lg-1 col-md-2 col-sm-1 col-2 rating">
                                </div>
                                <div class="col-lg-11 col-md-10 col-10">
                                    <div class="card-block">
                                        <div class="d-flex flex-row justify-content-between insight-header">
                                          <p class="card-text category">Category</p>
                                          <a class="fa fa-info-circle insight-help-button" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="{{translate `Info`}}" aria-label="{{translate `Info`}}"></a>
                                        </div>
                                        <h6 class="card-title title">Title</h6>
                                        <p class="card-text description">Description</p>
                                        <p class="card-text time">Datetime</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <footer id="normal-footer" class="mt-auto">
            <div class="container">
                <p class="thanks-using-lightmeter">{{translate "Thank you for using Lightmeter."}} &copy; <script>document.write(new Date().getFullYear())</script>.</p>
                <p class="privacy-Policy">
                    &bull;
                    <a href="https://lightmeter.io/privacy-policy/" target="_blank">
                        {{translate "Privacy Policy"}}</a>
                </p>
                <p class="feedback">
                    &bull;
                    <a href=" mailto:hello@lightmeter.io?subject=Feedback%20on%20Lightmeter%20Control%20Center" onclick="_paq.push(['trackEvent', 'Feedback', 'clickMailTo']);" target="_blank">{{translate "Feedback"}}</a>
                </p>
                <div class="dropdown" id="app-language">
                    <form id="languageForm">
                        <button  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        </button>
                        <input name="app_language" type="hidden" id="app-language-hidden">
                        <div id="dropdown-menu-language" class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                        </div>
                    </form>
                </div>
            </div>
        </footer>

        <!-- Boostrap dependencies -->
        <script type="text/javascript" src="3rd/js/jquery-3.4.1.slim.min.js"></script>
        <script type="text/javascript" src="3rd/js/popper.min.js"></script>
        <script type="text/javascript" src="3rd/js/bootstrap.min.js"></script>

        <!-- Other 3rd party dependencies -->
        <script type="text/javascript" src='3rd/js/plotly.min.js'></script>
        <script type="text/javascript" src="3rd/js/moment.min.js"></script>
        <script type="text/javascript" src="3rd/js/daterangepicker.min.js"></script>

        <!-- App scripts -->
        <script type="text/javascript" src='js/app.js'></script>
        <script type="text/javascript" src='js/insights.js'></script>

        <noscript><p><img src="https://matomo.lightmeter.io/matomo.php?idsite=3&amp;rec=1" style="border:0;" alt="" /></p></noscript>

        <!-- Lightmeter-hosted Matomo analytics -->
        <script type="text/javascript">
            var _paq = window._paq || [];
            _paq.push(['setCustomDimension', 1, '{{appVersion}}']);
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="https://matomo.lightmeter.io/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '3']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>

        <script type="module">
            import {AttachEventHandlerToLanguageForm} from "./js/util.js";
            import {CreateDropDown} from "./js/dropdown_language.js";

            CreateDropDown();

            $(document).ready(function() {

                $('#rblListModal').on('shown.bs.modal', function(e) {
                  var rblId = $(e.relatedTarget).data('rbl-id')
                  var modal = $(this)
                  modal.find('.modal-title').text('{{translate "RBLs for "}}'+buildInsightRblCheckedIp(rblId))
                  buildInsightRblList(rblId)
              })

              $('#msg_rbl_list_modal').on('shown.bs.modal', function(e) {
                  var rblId = $(e.relatedTarget).data('msg-rbl-id')
                  var modal = $(this)
                  var text = sprintf('{{translate "Original response from %s (%s)"}}', ...buildInsightMsgRblTitle(rblId))
                  modal.find('.modal-title').text(text)
                  buildInsightMsgRblDetails(rblId)
              });

              fetch('/settings')
                  .then(response => response.json())
                  .then(function (data) {
                      let generalData = data["general"]

                      if (generalData["app_language"]) {
                          let node = document.getElementById("dropdownMenuButton");
                          node.innerHTML = '';
                          document.getElementById("app-language-hidden").value = generalData["app_language"]
                          let textnode = document.createTextNode(document.getElementById("dropdown-item-" + generalData["app_language"]).getAttribute("languageKey"));
                          node.appendChild(textnode);
                      }

                  }).catch(function (err) {
                  alert('{{ translate `Error get settings` }}')
                  console.log(err)
              });

              AttachEventHandlerToLanguageForm(null, '{{ translate `Error on saving general settings!` }}')
          })
        </script>
    </body>
</html>
