@font-face {
    font-family: Inter;
    src: url(../fonts/inter/Inter-Regular.woff);
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter/Inter-Italic.woff);
    font-style: italic;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter/Inter-SemiBold.woff);
    font-weight: 600;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter/Inter-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: Inter;
    src: url(../fonts/inter/Inter-BoldItalic);
    font-weight: bold;
    font-style: italic;
}

/* Open Sans, via https://github.com/sorenson/open-sans-woff */

/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("../fonts/Light/OpenSans-Light.woff?v=1.1.0") format("woff");
  font-weight: 300;
  font-style: normal;
}
/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff");
  font-weight: 300;
  font-style: italic;
}
/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../fonts/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("../fonts/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff");
  font-weight: normal;
  font-style: italic;
}
/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("../fonts/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff");
  font-weight: 600;
  font-style: normal;
}
/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff");
  font-weight: 600;
  font-style: italic;
}
/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("../fonts/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff");
  font-weight: bold;
  font-style: normal;
}
/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff");
  font-weight: bold;
  font-style: italic;
}
/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/ExtraBold/OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2"), url("../fonts/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff");
  font-weight: 800;
  font-style: normal;
}
/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/open-sans/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff");
  font-weight: 800;
  font-style: italic;
}
/* END Extrabold Italic */

/* Extra widths, from https://github.com/twbs/bootstrap/issues/21943  */

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
    .w-sm-100 {
    width:100%!important;
    }
    .w-sm-75 {
    width:75%!important;
    }
    .w-sm-50 {
    width:50%!important;
    }
    .w-sm-25 {
    width:25%!important;
    }
    .h-sm-100 {
    height:100%!important;
    }
    .h-sm-75 {
    height:75%!important;
    }
    .h-sm-50 {
    height:50%!important;
    }
    .h-sm-25 {
    height:25%!important;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .w-md-100 {
    width:100%!important;
    }
    .w-md-75 {
    width:75%!important;
    }
    .w-md-50 {
    width:50%!important;
    }
    .w-md-25 {
    width:25%!important;
    }
    .h-md-100 {
    height:100%!important;
    }
    .h-md-75 {
    height:75%!important;
    }
    .h-md-50 {
    height:50%!important;
    }
    .h-md-25 {
    height:25%!important;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .w-lg-100 {
    width:100%!important;
    }
    .w-lg-75 {
    width:75%!important;
    }
    .w-lg-50 {
    width:50%!important;
    }
    .w-lg-25 {
    width:25%!important;
    }
    .h-lg-100 {
    height:100%!important;
    }
    .h-lg-75 {
    height:75%!important;
    }
    .h-lg-50 {
    height:50%!important;
    }
    .h-lg-25 {
    height:25%!important;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .w-xl-100 {
    width:100%!important;
    }
    .w-xl-75 {
    width:75%!important;
    }
    .w-xl-50 {
    width:50%!important;
    }
    .w-xl-25 {
    width:25%!important;
    }
    .h-xl-100 {
    height:100%!important;
    }
    .h-xl-75 {
    height:75%!important;
    }
    .h-xl-50 {
    height:50%!important;
    }
    .h-xl-25 {
    height:25%!important;
    }
}
/* end extra widths */

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.vh-93 {
    min-height: 93vh;
}

.w-35 {
    width: 35%;
}

.dashboard-gadget {
}

.dashboard-line {
}

.dashboard-line {
}

.modebar {
    display: none !important;
}

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #fffff!important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Inter;
}

.main-content {
    margin-top: 0.6rem;
}

header .navbar {
    height: 70px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 8px #00000029;
    opacity: 1;
    padding: 0;
}

header .logo img {
    height: 36px;
}

header .buttons {
    color: #2C9CD6;
}

span.buttons {
    cursor: pointer;
}

span.buttons i {
    margin-left: 0.5rem;
}

.time-interval {
    margin: 0.6rem 0 0 0;
    border-radius: 10px;
}

#time-interval-field {
    background: #DAEBF4;
    cursor: pointer;
    padding: 0.3rem 1rem;
    border: none;
    font-size: 12px;
    color: #00689D;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

#time-interval-field span {
    text-align: center;
}

div#time-interval-field {
}

.time-interval label {
    text-align: right;
    font: 12px/16px Open Sans;
    letter-spacing: 0px;
    color: #20232;
}

footer {
    margin-top: 0.5rem;
}

footer, footer a, footer a:hover {
    background: #426475 0% 0% no-repeat padding-box;
    font: 12px/15px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}

footer a {
    text-decoration: none;
}

footer p {
    margin: 0;
}

h1.row-title {
    font-size: 32px;
    font-weight: bold;
    margin: 0.7em 0 0.8em 0;
}

h5.row-title {
    font-size: 18px;
    font-weight: bold;
}

.main-content .card {
    border-radius: 0;
    border: none;
}

.card .card-title {
    font: 12px/20px Inter;
    letter-spacing: 0px;
    color: #202324;
    font-weight: bold;
}

.main-content .card-header {
    background: none;
    border: none;
}

.card-header
, .nav-tabs .nav-link {
    font-size: 15px;
    font-weight: bold;
    font-family: Inter;
    color: #202324;
}

.nav-tabs .nav-link {
    color: #1D8CAF;
}

.main-content .nav-tabs .nav-item.show .nav-link
, .main-content  .nav-tabs .nav-link.active
, .main-content .nav-tabs .nav-link:focus
, .main-content .nav-tabs .nav-link:hover {
        border-radius: 27px;
}

.main-content .nav-tabs .nav-item.show .nav-link
, .main-content  .nav-tabs .nav-link.active {
    color: #fff;
    background: #1D8CAF 0% 0% no-repeat padding-box;
    border: none;
}

.main-content .nav-tabs .nav-link:focus
, .main-content .nav-tabs .nav-link:hover {
    border: 1px solid #95CDEA;
}

.main-content .card-body {
    padding: 0 0.2rem 0.2rem 0.2rem;
}

.insights .card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #0000001A;
    border: 1px solid #E6E7E7;
    border-radius: 5px;
    margin-top: 0.9rem;
}

.insights .card-block {
    padding: 0.5rem 0.4rem 0.5rem 0rem;
}

.insights .card-title {
    margin: 0 0 0.3rem 0;
    font: 18px Inter;
    font-weight: bold;
    color: #202324;
}

.insights .card-text {
    font: 12px/18px 'Open Sans', sans-serif;
}

.insights .card-text.category
, .insights .card-text.time {
    color: #414445;
    font-size: 10px;
    font-weight: bold;
}

.insights .card-text.category {
    background-color: #F2F2F2;
    border-radius: 18px;
    padding: 0.4em 1.5em;
    margin-bottom: 0em;
    width: min-content;
}

.insights .insight-header {
    margin-bottom: 0.6rem;
}

.insights .card-text.description button {
    padding: 0.4em 1.5em;
    margin-bottom: 0;
    background: #f9f9f9 0% 0% no-repeat padding-box;
    border-radius: 10px;
    font-size: 10px;
    font-weight: bold;
    color: #1d8caf;
    line-height: 1;
    border: 1px solid #e6e7e7;
    margin-left: 0.2em;
}

.insights .card-text.description button:hover {
    background-color: #1D8CAF;
    color: #FFFFFF;
}

.insights .card-text.time {
    background: #F0F8FC 0% 0% no-repeat padding-box;
    border-radius: 5px;
    padding: 1.5em;
}

.insights .card .rating {
    background-clip: content-box;
    background-color: #F0F8FC;
}

.insights .card .rating.bad {
    background: rgb(255,92,111);
    background: linear-gradient(0deg, rgba(255,92,111,1) 85%, rgba(230,231,231,1) 85%) content-box;
}


.insights .card .rating.ok {
    background: rgb(255,220,0);
    background: linear-gradient(0deg, rgba(255,220,0,1) 50%, rgba(230,231,231,1) 50%) content-box;
}

.insights .card .rating.good {
    background: rgb(135,197,40);
    background: linear-gradient(0deg, rgba(135,197,40,1) 15%, rgba(230,231,231,1) 15%) content-box;
}

.modal-dialog .modal-content {
    border-radius: 0;
}

.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-body {
    padding: 15px;
}

.panel-page .panel-body h1,
.panel-page .panel-body h2,
.panel-page .panel-body h3,
.panel-page .panel-body h4 {
    color: #202324;
}

.panel-page .panel-body h2 {
    font-size: 22px;
    font-weight: bold;
}

.panel-page p {
    font-size: 14px;
    color: #202324;
}

.panel-page .panel-body h4 {
    margin-bottom: 1rem;
}

.panel-page .panel:first-child {
    box-shadow: 0px 1px 30px #0000001A;
}

.panel-page .panel-body h4 {
    font-size: 14px;
    font-weight: bold;
}

.panel-page .panel-body {
    padding: 15px 15%;
}

.panel-page .logo {
        margin: 1.5rem 0 2.5rem 0;
}

.panel .form-control {
    background-color: #F5F7F7;
    border: 1px solid #EBEBEB;
    border-radius: 0.25rem;
    margin: 0.4rem 0;
}

.panel-page .field-group {
    margin: 1rem 0;
}

.panel .form-control,
.panel .form-check-label {
    font-size: 14px;
    color: #909192;
}

form #register {
    margin-top: 1.5em;
}

.panel .form-control::placeholder {
    font-size: 14px;
    color: #909192;
}

.panel-page footer,
.panel-page footer a,
.panel-page footer a:hover {
    background-color: inherit;
    text-align: center;
    color: #202324;
    font-weight: bold;
    font-size: 12px;
}

.panel-page footer a:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: #2C9CD6;
    border-radius: 0.25rem;
    border: none;
    font-size: 13px;
    font-weight: bold;
}

.btn-group-sm>.btn, .btn-sm {
    line-height: 2;
}

.panel-page footer .bi-heart-fill path {
    color: #FFDC00;
}

body.panel-page {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/login-gradient-bg.svg');
    background-color: #F7F8F9;
}

.input-group-addon {
    padding: 0 .5rem;
    margin-bottom: 0;
    line-height: 1.25;
    text-align: center;
    background-color: #F7F8F9;
    border: 1px solid #EBEBEB;
    border-left-style: solid;
    border-left-width: 1px;
    border-radius: .25rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.input-group-addon .fa {
    font-size: 1rem;
    color: #838685;
}

input-group-addon a {
}

.input-group .form-control:not(:first-child), .input-group-addon:not(:first-child), .input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group > .btn, .input-group-btn:not(:first-child) > .dropdown-toggle, .input-group-btn:not(:last-child) > .btn-group:not(:first-child) > .btn, .input-group-btn:not(:last-child) > .btn:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group > .custom-select:not(:first-child), .input-group > .form-control:not(:first-child) {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    border-right: 0;
}

.input-group-addon, .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

#show_hide_password {
    margin: 0.4rem 0;
}

#show_hide_password input {
    margin: 0;
}

.custom-form-check {
    display: flex;
    align-items: center;
    margin: 0.8rem 0 0.8rem 0.1rem;
}

.form-check-input {
    margin-top: 0px;
}

.input-group-append, .input-group-prepend {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.input-group-append .btn {
    background-color: #DBDBDB;
    border: 1px solid #EBEBEB;
    margin-left: -1px;
    padding: .1rem .6rem;
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child), .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group-append .btn, .input-group-prepend .btn {
    position: relative;
    z-index: 2;
}

.form-control.custom-select {
    margin: 0;
    background-color: #E6E7E7;
    color: #202324;
}

.input-group-append .btn {
    line-height: 1.25;
}

.form-group #submit {
    margin-top: 0.2rem;
}

.form-group small a {
    color: inherit;
}

.card-section-heading {
    background-color: #F9F9F9;
}

.card-section-heading h2 {
    font-size: 24px;
    font-weight: bold;
}

.card-section-heading strong {
    font-size: 12px;
}

.greeting {
    background: url("../img/greeting-lensflare.svg") no-repeat right top, linear-gradient(104deg, #2A93D6 0%, #3DD9D6 100%) 0% 0% padding-box;
    color: white;
    padding: 0.5rem;
    border-radius: 7px;
    margin-bottom: 30px;
}

.greeting h3 {
    font: 22px/32px Inter;
    font-weight: bold;
    margin: 0;
}

.greeting p {
    font-size: 15px;
    margin: 0;
}

.greeting img.hero {
    width: 149.5px;
}

.greeting .panel.status {
    background-color: #E3FFFE;
    color: #064D4B;
}

.greeting .panel.status h5 {
    font-weight: bold;
    font-size: 10px;
}

.greeting .panel.status h5 {
    font-size: 16px;
}

#insights-form select {
    font-size: 12px;
    border-radius: 5px;
    margin-right: 0.2rem;
}

#insights-form [type="button"] {
    color: #00689D;
    background-color: #DAEBF4;
    box-shadow: none;
    border: 0;
    line-height: inherit;
    line-height: 0.8rem;
}

.time-interval .form-group {
    margin: 0;
    padding: 0;
}

.time-interval h2 {
    margin: 0;
}

/* large screens only */
@media (min-width: 768px){

    /*make observatory image overflow container*/
    .greeting {
        height: 150px;
    }

}

/* settings page */
#settings [type="submit"] {
    background: #1D8CAF33 0% 0% no-repeat padding-box;
    border: 1px solid #1D8CAF;
    border-radius: 2px;
    opacity: 0.8;
    text-align: center;
    font: normal normal bold 14px/24px Open Sans;
    letter-spacing: 0px;
    color: #1D8CAF;
}

/* settings page */
.btn-cancel {
    background: #FF5C6F33 0% 0% no-repeat padding-box;
    border: 1px solid #FF5C6F;
    border-radius: 2px;
    opacity: 0.8;
    text-align: center;
    font: normal normal bold 14px/24px Open Sans;
    letter-spacing: 0px;
    color: #820D1B;;
}

#settings [type="input"] {
    border: 1px solid #E6E7E7;
    border-radius: 5px;
    opacity: 1;
}

#notifications-form-container {
    margin-top: 2em;
    margin-bottom: 2em;
}

#general-form-container {
    margin-top: 2em;
    margin-bottom: 2em;
}

.form-heading {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    font-weight: bold;
}

.button-group {
    display: flex;
    flex-flow: row-reverse;
}

.button-group button, .button-group .btn-cancel {
    width: 10%;
    margin-left: 1em;
    margin-right: 1em;
    display: flex;
    justify-content: center;
}

#registration-footer .container .sub-container {
    margin: 0 auto;
}

#registration-footer .container-right, footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#normal-footer {
    margin-top: 1em !important;
}

#normal-footer .container {
    justify-content: start;
    margin-right: 0;
}

#registration-footer .dropdown-menu-language-item, #normal-footer .dropdown-menu-language-item  {
    font: normal normal normal 14px/20px Open Sans;
    color: #202324;
    text-align: left;
    padding-left: 14px;
    padding-right: 14px;
}

footer .dropdown {
    margin-left: 40px;
}

#registration-footer .dropdown  #dropdownMenuButton, footer .btn-secondary:not(:disabled):not(.disabled).active,
#registration-footer .btn-secondary:not(:disabled):not(.disabled):active,
#registration-footer .show>#dropdownMenuButton.dropdown-toggle,
#registration-footer  #dropdownMenuButton.focus,
#registration-footer  #dropdownMenuButton:focus,
#registration-footer  #dropdownMenuButton:hover {
    background-color: #F7F8F9;
    border: 1px solid #E6E7E7;
    border-radius: 3px;
    opacity: 1;
    text-align: left;
    font: normal normal normal 14px/20px Open Sans;
    letter-spacing: 0px;
    color: #202324;
    margin-left: 0.5em;
}

#normal-footer .container {
   margin-left: 0;
}

#normal-footer .dropdown  #dropdownMenuButton, footer .btn-secondary:not(:disabled):not(.disabled).active,
#normal-footer .btn-secondary:not(:disabled):not(.disabled):active,
#normal-footer .show>#dropdownMenuButton.dropdown-toggle,
#normal-footer  #dropdownMenuButton.focus,
#normal-footer  #dropdownMenuButton:focus,
#normal-footer  #dropdownMenuButton:hover {
    background-color: #426475;
    border: 1px solid #426475;
    border-radius: 3px;
    text-align: left;
    font: normal normal normal 14px/20px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

#normal-footer p {
    display: block;
}

@media only screen and (max-device-width: 600px) {
    .button-group button, .button-group .btn-cancel {
        width: 25%;
    }
}

#normal-footer .privacy-Policy, footer .feedback {
    margin: 0 0.5em;
}
a.insight-help-button {
  font-size: 1.3em;
}

@media (hover: hover) {
  a.insight-help-button {
    color: #C5C7C6;
  }

  a.insight-help-button:hover {
    color: #2C9CD6;
  }
}

@media (hover: none) {
  a.insight-help-button {
    color: #2C9CD6;
  }
}

/* disable plotly pie chart legend interactivity */
/* hides the svg dom element that has the click handler responsible for toggling */
.plotly .legend .traces .legendtoggle {
   display: none;
}
/* just for presentation: shows the default cursor insted of the text cursor */
.plotly .legend .traces .legendtext {
   cursor: default;
}

.card.info {
    background: #DAEBF4;
    border: none;
}

.card.info .card-text,
.card.info .card-title {
    color: #00689D;
    font-size: 12px;
}

.card.info .card-body {
    padding: 0.8em;
}

.card.info .card-title {
    margin-bottom: 0.8em;
}

.card .fa {
    padding-right: 0.8em;
}